html, body, figure, figcaption, header, nav, main, section, article, footer, ul, h1, h2, h3, p {
	margin: 0;
	padding: 0;
	display: block;
}

body {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	text-align: center;
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
	color: #212121;
}

img {
	display: block;
	width: 100%;
}

/* Navbar Section*/

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #d9ecf2;
}

#navbar ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

#navbar li {
	padding: 2rem;
}

#navbar a {
	color: #212121;
	font-weight: 900;
	text-decoration: none;
}

#navbar a:hover {
	text-decoration: underline;
}


/* Intro Section */

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #24E0E3;
	height: 100vh;
}

.intro img {
	width: 300px;
	height: 310px;
	border-radius: 100%;
	margin-top: 5rem;
}

.intro h1 {
	margin: 20px 0 10px;
}

.intro p {
	color: #2d6187;
	font-size: 1.5rem;
	font-weight: 900;
}

/* Project Section */

#projects {
	background-color: #fff;
	padding: 6rem 2rem;
}

#projects h2 {
	margin-bottom: 50px;
}

.project-image {
	height: calc(100% - 4.25rem);
	width: 100%;
}

.project-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 4rem;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}

.project-grid a {
	background-color: #d9ecf2;
	color: #212121;
	text-decoration: none;
}

.project-grid p {
	padding: 20px 0;
	font-weight: 900;
}

/* Contact Section */

#contact {
	background-color: #28abb9;
	padding: 5rem 1rem;
}

#contact a {
	color: #fff;
	display: inline-block;
	margin: 3rem 5px 0;
	padding: 0 1rem;
}

#contact a:hover {
	color: #f56a79;
	border-radius: 100%;
}


/* Footer Section */

footer {
	background-color: #2d6187;
	color: #fff;
	padding: 2rem 1rem;
}

/* Media Query Section */

@media (max-width: 769px) {
	#navbar ul {
		justify-content: center;
	}
} 

@media (max-width: 400px) {
	#navbar li {
		padding: 2rem 1rem;
	}

	.project-grid {
		grid-template-columns: 1fr;
	}
} 

@media (max-width: 330px) {
	#navbar li {
		/*padding: 2rem .7rem;*/
	}
} 
